#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 15.6rem 20rem 0;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  @include respond(tab-land) {
    padding: 0;
    padding-top: 25rem;
    margin: 0;
  }

  @include respond(phone) {
    padding: 0rem 2.5rem;
    padding-top: 25rem;
  }

  &__image {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      @include respond(tab-port) {
        padding-bottom: 6.4rem;
      }
      @include respond(tab-land) {
        height: 100%;
      }
    }

  .hero-image {
    padding: 8rem;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    @include respond(tab-port) {
        padding-bottom: 6.4rem;
    }
    @include respond(tab-land) {
      height: 100%;
    }
  }

  .hero-text-container {
    padding: 8rem;
    @include respond(phone) {
    padding: 0rem $default-font-size;
    }
  }

  .hero-title {
    font-size: 6rem;
    font-weight: 700;
    text-align: left;
    flex-grow: 4;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  h2.hero-title {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
    
    @include respond(tab-land) {
      font-size: 2rem;
    }
    @include respond(tab-port) {
      font-size: 2.2rem;
    }
    @include respond(phone) {
      font-size: 2rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2rem;
    }
  }

  .text-color-main-hero {
    color: $primary-color;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $secondary-color;
  }

  &:hover {
    transform: translateX(2px);
  }
}


  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
