// COLORS
$primary-color: #52b788;
$secondary-color: #52b788;

// $primary-color: #efd3d7;
// $secondary-color: #ccc;

$white-color: #f7f8f9;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
